body {
  color: #ffffff;
  font-family: 'Arial', sans-serif; 
}

h1, h2 {
  color: #3399FF; 
  text-align: center;
}

.anime-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.anime-item img {
  margin-right: 20px;
  margin-left: 20px;
  max-width: 10rem;
  min-width: 10rem;
}

.anime-item .anime-content {
  flex-grow: 1;
}

form {
  margin-left: 20px;
}

