* {
  min-width: 0
}

body {
  background-color: #1E1E1E;
  margin: 0;
}

.favorites-container {
  background-color: #1E1E1E;
  color: #3399FF;
  padding: 20px;
}

.favorite-item {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.favorite-item h2 {
  margin-right: 1rem;
  margin-bottom: 0px;
  line-height: 1.2;
}

.favorite-item .star-icon,
.favorite-item .post-icon {
  cursor: pointer;
  margin-right: 0.3125rem; 
  align-self: center;
  margin-top: 1.4rem; 
}
