.following-container {
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
  }
  
  .following-container h1 {
    color: #ffffff;
  }
  
  .following-container .following-item {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
  }
  
  .following-container .following-item h2 {
    color: #ffffff;
    margin-right: 10px;
  }
  
  .following-container .following-item a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
  }