.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a; 
  }

.user-info {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 10px;
}

